@import 'fonts/stylesheet.css';

body {
  font-family: "Helvetica Condensed",'Helvetica', Arial, Verdana, sans-serif;
  font-size: 62.5%;
  font-size: 14px;
  background: #fdc400 url('img/logo.png') no-repeat 20px 40px;
  overflow: hidden;
  width: 800px;
}

.form.registration{
  text-transform: uppercase;
}

.summary{
  font-size: 24px;
}

.legend{
  font-size: 16px;
}

#pathe .form.registration{
  width:520px;
  margin-left:270px;
}

.field{
  width:511px;
  margin-bottom: 5px;
}

.form.registration label{
  display: inline-block;
  width:150px;
  text-align: right;
  margin-right: 5px;
}
.form.registration input.text{
  font-family: 'Helvetica', Arial, Verdana, sans-serif;
  font-weight: normal;
  width: 340px;
  font-size:18px;
  background: white;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -ms-border-radius:2px;
  -o-border-radius:2px;
  border-radius:2px;
  border:none;
  padding:7px 5px;
}

.form.registration input.submit{
  font-family: 'Helvetica Condensed', Arial, Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  padding:10px;
  background: white;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -ms-border-radius:2px;
  -o-border-radius:2px;
  border-radius:2px;
  border:none;
  padding:7px 15px;
}

.submit{
  float:right;
}

.logo{
  margin-top: 40px;
  background: url('img/lol.png') top left no-repeat;
  text-indent: -9999px;
  height:55px;  
  width:285px;  
}
