<div id="formulaire_champs" class="formulaire_inscription view">
  <h3 class="title">{{app.name}}</h3>
  <p>Nous avons bien enregistr&eacute; votre participation pour la projection du {{absoluteDate app.ends_at}}.</p>
  <a href="#" class='btn' data-oahu-action="registration.share">Partager avec mes amis</a>
</div>
