<div id="formulaire_champs" class="formulaire_inscription view">
  <div class="summary">
    <h3 class="title">{{app.name}}</h3>
    <p class='main'>Nous avons bien enregistr&eacute; votre participation pour la projection du {{app.ends_at}}.</p>
  </div>
  <a href="#" class='btn' data-oahu-action="registration.share">Partager avec mes amis</a>
</div>
