<form>
  {{#fields}}
    {{>registration_field}}
  {{/fields}}
  
  <div class="field">
    <a class="btn btn-lg btn-default btn-primary btn-block" data-oahu-action="registration.submit">Valider</a>
  </div>
</form>
