<div id="pathe_formulaire_champs" class="pathe_formulaire_inscription view">
  <div class="summary">
    <div class="logo">LOL USA</div>

    <p class='main'>Vous habitez <b>Paris</b> ?<br/>
      Venez découvrir en avant-première le film <b>LOL USA</b> avec Miley Cyrus et Demi Moore !<br/>
    </p>
    <p class='legend'>
      Faites vite ! Les 100 premiers inscrits gagneront deux places pour la projection du film <b>le 10 juillet prochain</b>.
    </p>
  </div>
  <form>
    <div class="field">
      <label for="name">Nom</label>
      <input class='text' type="text" name="player_name" id="player_name" value="{{name}}" placeholder="Nom" />
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input class='text' type="text" name="player_email" id="player_email" value="{{email}}" placeholder="Email" />
    </div>

    <div class="field">
      <label for="phone">Numéro de téléphone</label>
      <input class='text' type="text" name="player_phone" id="player_phone" value="{{phone}}" placeholder="Téléphone"/>
    </div>
    
    <div class="field">
      <input type="submit" value="Valider" class='submit'/>
    </div>
  </form>
</div>
