<div id="pathe_formulaire_champs" class="pathe_formulaire_inscription view">
  <form>
    <div class="pathe_formulaire_champ">
      <input type="text" name="last_name" id="last_name_field" value="" class="pathe_formulaire_champ" style="width: 425px;" />
    </div>
    <div class="pathe_formulaire_champ">
      <input type="text" name="first_name" id="first_name_field" value="" class="pathe_formulaire_champ" style="width: 395px;" />
    </div>
    <div class="pathe_formulaire_champ">
      <input type="text" name="email" id="email_field" value="" class="pathe_formulaire_champ" style="width: 340px;" />
    </div>
    <div class="pathe_formulaire_champ">
      <input type="text" name="phone" id="phone_field" value="" class="pathe_formulaire_champ" style="width: 276px;" />
    </div>
    <div class="pathe_formulaire_valider">
      <input type="image" src="img/valider.png" />
    </div>
  </form>
</div>